#root{
  height: 100vh;
}
.App {
  text-align: center;
  position: relative;
  z-index: 10;
  overflow-x: hidden;
}
.logo{
  font-family: 'Big Shoulders Inline Display', cursive !important; 
  letter-spacing: 5px;
  color: white;
  text-decoration: none;
}
.logo:hover{
  text-decoration: none;
  color: aqua;
}
.line{
  box-shadow: 0 1px 12px 0 rgb(139, 139, 139)
}
.main-container{
  min-height: calc(100vh - 72px);
}
.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.App-link {
  color: #61dafb;
}
.card-style{
  transition: .3s ease-in-out;
  transform: scaleX(.96);

}
.card-style:hover{
  box-shadow: 0 1px 30px 0 black inset, 0 3px 15px #7fa0be;
  transition: .1s ease-in-out;
  transform: scale(1);
  cursor: '+';
}
.title{
  font-size: calc(5rem + 2vmin);
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #7fa0be;
  animation: anima 1s ease-in-out;
  text-shadow: 0 1px 50px rgb(107, 110, 136);
  transition: .3s ease-in-out;
}
.content-style{
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.input-style{
  padding: 1rem 2rem;
  margin:  0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid darksalmon;
  color: white;
  outline: none;
  font-size: 2rem;
}
input::placeholder{
  color: white;
}
.varela{
  font-family: 'Varela Round', sans-serif;
  padding: .5rem 1rem .5rem 0;
  font-weight: bolder;
  border-radius: 7px;
  letter-spacing: .5px;
  font-size: 2rem;
  background: linear-gradient(217deg, rgba(61, 204, 116, 0.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);  color: white;
}
.varela-font{
  font-family: 'Varela Round', sans-serif;
}
/* .back-to-top{
  z-index: 100;
} */
@keyframes anima {
  0%{
    opacity: 0;
    transform: translateY(20px) scale3d(4, -3, 0.7);
    text-shadow: 0 1px 10px rgb(107, 110, 136);
  }
  100%{
    opacity: 1;
    transform: translateY(0) scale3d(1, 1, 1);
    text-shadow: 0 1px 50px rgb(107, 110, 136);
  }
}

.subtitle{
  font-weight: 100;
  letter-spacing: 2px;
  animation: anima 1s ease-in-out;
  animation-duration: 1.3s;
}
.btn-container{
  width: 25%;
  margin: 2rem 0;
  animation: btn-anima 20s ease-in-out infinite;
  animation-duration: 5s;
  transition: all .3s ease-in-out;
}
.btn-container .btn , .title , .subtitle{
  transform: scale(1);
  transition: all .3s ease-in-out;
}
.btn-container .btn{
  transform: scale(1);
  transition:  .3s ease-in-out;
  animation: btn-fade all 1s ease-in-out;
  animation-duration: 2s;
  -webkit-transition: btn-fade all .5s ease-in-out;
  -moz-transition: btn-fade all .5s ease-in-out;
  transition: btn-fade all .5s ease-in-out;
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
}
.title:hover , .subtitle:hover{
  transform: scale(1.5);
  transition: all .3s ease-in-out;
  cursor: none;
  padding: 0 3rem;
}
.btn-container .btn a {
  color: white;
  text-decoration: none;
  color: lightskyblue;
  padding: 3rem ;
}
.btn-container .btn a:hover {
  color: white;
  text-decoration: none;
  animation: none;
  font-weight: 500;
  transform: scale(1.2);
}
@keyframes btn-anima {
  0%{
    transform: translateY(50%) scale(0.9);
    background-color: rgb(86, 86, 168);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  }
  30%{
    transform: translateY(0);
    opacity: 1;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  }
  90%{
    transform: translateY(0);
    opacity: 1;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  }
  100%{
    transform: translateY(50%) scale(0.9);
    opacity: 0.8;
    background-color: rgb(86, 86, 168);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}
@keyframes btn-fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes mobile-anima {
  0%{
    opacity: 0;
    transform: translateY(30px) ; 
    text-shadow: 0 1px 10px rgb(107, 110, 136);
  }
  /* //scale3d(4, -3, 0.7) */
  50%{
    opacity: 1;
    transform: translateY(-20px) scale3d(1.1, 1.1, .5);
    text-shadow: 0 1px 50px rgb(107, 110, 136);
  }
  100%{
    opacity: 1;
    transform: translateY(0) ;
    text-shadow: 0 1px 50px rgb(107, 110, 136);
  }
  /* scale3d(1, 1, 1) */
}
.MuiToggleButton-root.Mui-selected {
  color: red !important;
  background: none !important;
}
.footer{
  direction: ltr;
  color: lightgrey;
  transition: 3s ease-in-out;
  padding: .75rem 2rem;
}
.footer:hover{
  color: rgb(202, 191, 191);
  transition: 3s ease-in-out;
}
.red{
  color:red;
  transition: .3s ease-in-out;

}
.red:hover{
  color:rgb(184, 10, 10);
  transition: .3s ease-in-out;
}
.about-page-size{
  min-height: 50vh;
}
.about-title{
  border-radius: 70px 0 0 0;
  width: fit-content;
  background: linear-gradient(217deg, rgba(61, 204, 116, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(270deg, rgba(255, 255, 255, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);  color: white;
}
.link-color{
  color: rgb(224, 61, 61);
}
.link-color:hover{
  color: rgb(214, 99, 99);
  text-decoration: none;
  font-weight: 900;
  transition: .5s ease;
}
@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  .btn-container{
    width: 50%;
  }
  .btn-container .btn a {
    padding: 0;
  }
  .title{
    animation: mobile-anima .5s ease-in-out;
  }
  .subtitle{
    animation: mobile-anima 1s ease-in-out;
    animation-duration: 1s;  
  }
  .varela{
    font-size: 1.6rem;
    background: linear-gradient(217deg, rgba(61, 204, 116, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(270deg, rgba(255, 255, 255, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);  color: white;
  }
  .title:hover , .subtitle:hover{
    transform: none;
  }
}



